body{
    font-family: Roboto, sans-serif;
    background-color: steelblue;
}

h1{
    position: relative;
    top: 1px;
    text-align: center;
    color: white;
}

.container{
    position: relative;
    margin: auto;
    height: 250px;
    width: 30%;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    background-color: white;
    animation-name: fade;
    animation-duration: 0.5s;
}

form{
    padding: 10px
}

label{
    display: block;
    padding: 0;
    text-align: left;
    font-size:17px;
    color:rgba(97, 92, 92, 0.867); 
    animation: move 1s;
}

#femail{
    height: 25px;
    width: 100%;
    border: 1px solid rgba(211, 211, 211, 0.867);
    border-radius: 7px;
    animation: move 1s;
}

#fpassword{
    height: 25px;
    width: 100%;
    border: 1px solid rgba(211, 211, 211, 0.867);
    border-radius: 7px;
    animation: move 1s;
}

#Login{
    position: relative;
    top: 50px;
    height: 40px;
    width: 40%;
    border: 1px solid  rgba(211, 211, 211, 0.867);
    border-radius: 20px;
    color: white;
    background-color: steelblue;
    animation: move 1s;
}

/* animações */

/* Aparição do FORM */


@keyframes fade{
    from{
        opacity: 0;
        transform: scale(0.9);
    } 
    to{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes move{

    from{
        opacity: 0;
        transform: translateX(-10%);
    } 
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}

/* On button click */

.container-hide{
    animation: down 0.5s forwards;
    animation-timing-function: cubic-bezier(0.89, 0.11, 0.2, 1.08);
}

@keyframes down{
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(100vh);
    }
}

/* invalid process */

div.validate-error {
    animation: nono 200ms linear, fade paused;
    animation-iteration-count: 2;
}

@keyframes nono {
    0%,
    100%{
        transform: translateX(0);
    }
    35%{
        transform: translateX(-15%);
    }
    70%{
        transform: translateX(15%);
    }
}

/* background */

.squares li{
    width: 40px;
    height: 40px;
    background-color: rgba(235, 225, 227, 0.3);
    display: block;
    position: absolute;
    bottom: -40px;
    animation: up 2s infinite;
    /* animation-direction: alternate; */
}


@keyframes up {
    from{
        opacity:0;
        transform: translateY(0);
    }
    50%{
        opacity:1;
    }
    to{
        opacity:0;
        transform: translateY(-900px) rotate(960deg);
    }
}