.a{
    margin: 10px;
    height: 100px;
    width: 100px;
    background-color: blue;
}

.b{
    margin: 10px;
    height: 100px;
    width: 100px;
    background-color: red;
}

.button1{
    width: 100px;
    
}