body{
    font-family: Roboto, sans-serif;
    background-color: steelblue;
}

h1{
    position: relative;
    top: 1px;
    text-align: center;
    color: white;
}

.container{
    position: relative;
    margin: auto;
    height: 200px;
    width: 30%;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    background-color: white;
    animation-name: fade;
    animation-duration: 1s;
}


label{
    display: block
    text-align: left;
    font-size:17px;
    color:rgba(97, 92, 92, 0.867); 
}

#femail{
    height: 25px;
    width: 90%;
    border: 1px solid rgba(211, 211, 211, 0.867);
    border-radius: 7px;
}

#fpassword{
    height: 25px;
    width: 90%;
    border: 1px solid rgba(211, 211, 211, 0.867);
    border-radius: 7px;
}

#Login{
    height: 40px;
    width: 40%;
    border: 1px solid  rgba(211, 211, 211, 0.867);
    border-radius: 20px;
    color: white;
    background-color: steelblue;
}

/* animações */

/* Aparição do FORM */

@keyframes fade{
    from{
        opacity: 0;
    } 
    to{
        opacity: 1;
    }
}